.card{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 192, 181, 0.6);
    width: 30vw;
    padding: 30px;
    border-radius: 50px;
}
.date, .but {
    padding: 7px;
    width: 25vw;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
}
.but{
    background-color: greenyellow;
    padding: 10px;
    border: none;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    overflow: hidden;
}
